p {text-align:justify; color:gray; 
    font-style: normal; 
    font-family: 'Times New Roman','Times New Roman', Times, serif;}
body {background-color: peachpuff; 
    text-align: justify; 
    font-size: medium; 
    font-family: 'Courier New', Courier, monospace;
    width : 2px, 2px, 2px, 2px; margin:4px, 4px, 4px, 4px;
    padding: 1px, 1px, 1px, 1px; border-style: dotted;}
h1 {text-align: center; 
    font-size: large; 
    font-family: 'Times New Roman', Times, serif; 
    font-style: normal; color:red;}
title {text-align: center;}
table, th, td{border: 1px solid black;
    border-collapse: collapse;
    width : 2px, 2px, 2px, 2px; margin:4px, 4px, 4px, 4px;
padding: 1px, 1px, 1px, 1px; border-style: dotted;}
